html
  head
    link(rel="stylesheet", href="/css/index.css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    title= "내가그린 기린그림 BE"
  body
    img(class = "paint"  src = "./img/paint.png")
    div(class = "content")
      div 게임 플레이 하러가기! : 
      span 
        a(href="https://priceless-hoover-994589.netlify.app") 내가 그린 기린그림